<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!-- 控制台输出日志 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{mm:ss} %-5level %logger{36} >>> %msg%n</pattern>
    </encoder>
  </appender>
  <!--每天生成一个日志文件，保存30天的日志文件。 -->
  <appender name="DayFile"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/wx.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/wx.%d{yyyy-MM-dd}.log.zip
      </fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="SpringFile"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/spring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/spring.%d{yyyy-MM-dd}.log.zip
      </fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <!--指定logger name为包名或类全名 指定级别 additivity设置是否传递到root logger -->
  <logger name="slf4j" level="INFO" additivity="false">
    <appender-ref ref="DayFile" />
  </logger>
  <!--slf4j2包下的类在ERROR级别时候传递到root logger中，本身不打印日志因为没有appender-ref -->
  <logger name="slf4j2" level="ERROR" />

  <!-- wx -->
  <logger name="com.wx" level="DEBUG" additivity="false">
    <appender-ref ref="DayFile" />
  </logger>
  <!-- Spring -->
  <logger name="org.springframework" level="error" additivity="false">
    <appender-ref ref="SpringFile" />
  </logger>

  <!--根logger控制 -->
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
