<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.dao.MSysMenuClassMapper">
  <resultMap id="BaseResultMap" type="com.framework.entity.MSysMenuClass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="method" jdbcType="VARCHAR" property="method" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_id, name, class_name, method
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.framework.entity.MSysMenuClass">
    insert into sys_menu_class (id, menu_id, name, 
      class_name, method)
    values (#{id,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{className,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.framework.entity.MSysMenuClass">
    insert into sys_menu_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="method != null">
        method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.framework.entity.MSysMenuClass">
    update sys_menu_class
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.framework.entity.MSysMenuClass">
    update sys_menu_class
    set menu_id = #{menuId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>